<h1>JustGetIt</h1>
<div>
<h1>ORDER NO {{ lay.order_no }}</h1>
<h1>Method {{method}} Colour- {{color}}</h1>
<p>For Method 1</p>
<p><a href="{% url 'red' pk=lay.pk %}">Red Layout</a></p>
<p><a href="{% url 'blue' pk=lay.pk %}">Blue Layout</a></p>
<p><a href="{% url 'yellow' pk=lay.pk %}">Yellow Layout</a></p>
<p>For Method 2</p>
<p><a href="{% url 'red1' pk=lay.pk %}">Red Layout</a></p>
<p><a href="{% url 'blue1' pk=lay.pk %}">Blue Layout</a></p>
<p><a href="{% url 'yellow1' pk=lay.pk %}">Yellow Layout</a></p>
<p>For Method 3</p>
<p><a href="{% url 'red2' pk=lay.pk %}">Red Layout</a></p>
<p><a href="{% url 'blue2' pk=lay.pk %}">Blue Layout</a></p>
<p><a href="{% url 'yellow2' pk=lay.pk %}">Yellow Layout</a></p>
<p>For Method 4</p>
<p><a href="{% url 'red3' pk=lay.pk %}">Red Layout</a></p>
<p><a href="{% url 'blue3' pk=lay.pk %}">Blue Layout</a></p>
<p><a href="{% url 'yellow3' pk=lay.pk %}">Yellow Layout</a></p>
<h1>LAYOUT SUMMARY</h1>
{% with t=1 %}
{% for a,b,c,d,e in data %}
<div>
<table>
<tr>
<p>Lay {{e}}</p>
<p>Plies-{{a}}</p>
<p>Markers- {% for t in d %}
{{t}}
{% endfor %}</p>
<table>
<tr>
    <th>SIZES</th>
    <th>38</th>
    <th>40</th>
<th>42</th>
<th>44</th>
<th>46</th>
<th>48</th>
<th>50</th>
<th>52</th>
<th>54</th>
</tr>
<tr>
<td>QTY</td>
{% for t in c %}
<td>{{t}}</td>
{% endfor %}
</tr>
<tr>
<td>Balance</td>
{% for t in b %}
<td>{{t}}</td>
{% endfor %}
</tr>
</table>
</div>
</tr>
</table>
{% endfor %}
{% endwith %}